@{
    ViewData["Title"] = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="resume" class="resume section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Passionate full stack developer with expertise in ASP.NET Core, ReactJS, jQuery, and SQL Server.</p>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>Raju Modi</h4>
                    <p><em>Motivated and results-driven full stack developer with 1 year of experience in building web applications using .NET Core, SQL Server, jQuery, and ReactJS. Skilled at writing clean, maintainable code and collaborating in fast-paced environments.</em></p>
                    <ul>
                        <li>Ahmedabad, Gujarat</li>
                        <li>9825289256</li>
                        <li><a href="mailto:rajumodi761@gmail.com">rajumodi761@gmail.com</a></li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>B.E. in Information Technology</h4>
                    <h5>2020 - 2024</h5>
                    <p><em>L.D. College of Engineering, Ahmedabad</em></p>
                    <p>Graduated with 8.2 GPA</p>
                </div>

                <div class="resume-item">
                    <h4>HSC - Science Stream</h4>
                    <h5>2018 - 2020</h5>
                    <p><em>Pioneer School of Science, Patan</em></p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Professional Experience</h3>

                <div class="resume-item">
                    <h4>Full Stack Developer</h4>
                    <h5>Sep 2024 - Present</h5>
                    <p><em>Lion Vision Technology Pvt. Ltd., Ahmedabad</em></p>
                    <ul>
                        <li>Built and maintained web applications using .NET Core MVC.</li>
                        <li>Developed APIs and integrated them for smooth system communication.</li>
                        <li>Enhanced UI using jQuery for dynamic interactivity.</li>
                        <li>Worked extensively with SQL Server using SSMS for data integrity and performance.</li>
                    </ul>
                </div>

                <div class="resume-item">
                    <h4>Full Stack Developer (Intern)</h4>
                    <h5>Jan 2024 – Aug 2024</h5>
                    <p><em>Freelance/Project-Based</em></p>
                    <ul>
                        <li>Developed RESTful APIs using ASP.NET Core.</li>
                        <li>Implemented responsive UIs in ReactJS.</li>
                        <li>Worked with MySQL and SQL Server for backend data handling.</li>
                    </ul>
                </div>

                <div class="resume-item">
                    <h4>ReactJS Developer (Intern)</h4>
                    <h5>Jul 2023 – Sep 2023</h5>
                    <p><em>Tatvasoft Solution Pvt. Ltd. (Remote)</em></p>
                    <ul>
                        <li>Built a bookstore inventory system using ReactJS and integrated external APIs.</li>
                        <li>Implemented CRUD operations: Add, Edit, Delete, and List books.</li>
                    </ul>
                </div>

                <h3 class="resume-title">Projects</h3>
                <div class="resume-item">
                    <h4>Ticket Management System</h4>
                    <ul>
                        <li>Built with ASP.NET Core MVC, DevExpress Reports, jQuery, and SQL Server.</li>
                        <li>Included advanced reporting and ticket lifecycle management.</li>
                    </ul>
                </div>

                <div class="resume-item">
                    <h4>Weighbridge Management App</h4>
                    <ul>
                        <li>Used ASP.NET Core and ReactJS for frontend and backend.</li>
                        <li>Featured real-time data capture, reporting, and responsive UI.</li>
                    </ul>
                </div>

                <h3 class="resume-title">Skills</h3>
                <div class="resume-item">
                    <ul>
                        <li>.NET Core, ASP.NET MVC, Web API</li>
                        <li>ReactJS, jQuery, HTML5, CSS3</li>
                        <li>SQL Server, SSMS, MySQL</li>
                        <li>Git, Agile Development, REST APIs</li>
                        <li>Languages: English, Hindi, Gujarati</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</section>


